*
{
    padding: 0px;
    margin: 0px;
}

html
{
    scroll-behavior: smooth;
}

/* First Mobile */
@media screen and (max-width: 425px)
{

body
{
    overflow-x: hidden;
}

#header
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    font-family: "Montserrat", serif;
}

nav
{
    position: fixed;
    width: 100vw;
    color: white;
    text-decoration: none;
    height: 100vh;
    text-align: center;
    background-color: black;
    right: -105vw;
    top: 65px;
}

a
{
    position: relative;
    text-decoration: none;
    color: white;
}

#title
{
    margin-left: 10px;
    font-style: bold;
    font-size: 28px;
    margin-top: 16px;
}

#h1-zone
{
    position: sticky;
    top: 0;
    min-width: 100%;
    background-color: #0b0b0b;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

#fondo
{
    width: 100%;
    height: 450px;
}

#ni
{
    width: 30px;
    height: 45px;
    margin-right: 5vw;
    margin-top: 12px;
}

a
{
    display: block;
    margin-top: 45px;
}

#about
{
    font-family: "Lato", serif;
    margin-top: 15px;
}

.p
{
    width: 90%;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding-top: 15px;
}

.h2
{
    margin-left: 8px;
    margin-top: 10px;
}

#knowledge
{
    font-family: "Lato", serif;
    margin-top: 25px;
}

ul li
{
    margin-left: 25px;
    margin-top: 24px;
}

ul
{
    list-style: none;
}

}

/* PC */
@media screen and (min-width: 800px)
{

#header
{
    display: flex;
    height: 300px;
    border-style: solid;
    justify-content: space-between;
}

}
